/* Media Queries */
@media (max-width: 768px) {
  /* showcase */

  body #showcase video {
    width: 480px;
    height: auto;
  }

  body #showcase .content p {
    font-size: 1.5rem;
  }
  // Newsletter
  body #newsletter .container {
    flex-direction: column;
  }
  body #newsletter .container .wave,
  body #newsletter .container form,
  body #newsletter .container form .button,
  body #newsletter .container form input[type="email"] {
    width: 100%;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
  }

  body #newsletter .container form {
    margin: 5px 0;
  }
  body #newsletter .container form .button {
    margin: 0 5px 5px 5px;
    padding: 0.525rem 0;
  }
  body #newsletter .container form input {
    margin: 5px 0 6px 0;
    padding: 4px 0;
  }

  @media (min-aspect-ratio: 16/9) {
    #showcase,
    video,
    .overlay,
    .content {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #showcase,
    video,
    .overlay,
    .content {
      width: auto;
      height: 100%;
    }
  }

  /* footer */
  footer .container p,
  footer .container .social-media-buttons {
    float: none;
    width: 100%;
    margin: 0;
  }
  footer .container p img {
    margin: 0;
  }
  footer .container p {
    padding-bottom: 10px;
  }
}
