/* Main-col */

#main {
  background-color: #000b18;
  .container {
    display: flex;
    justify-content: flex-start;
    @media (max-width: 500px) {
      flex-direction: column;
    }

    article#main-col {
      flex-basis: 60%;
    }

    /* Sidebar */
    aside#sidebar {
      flex-basis: 33%;
      margin-left: auto;
      @media (max-width: 1100px) and (min-width: 900px) {
        flex-basis: 32%;
      }
      @media (max-width: 899px) and (min-width: 501px) {
        flex-basis: 29%;
      }
    }
    .dark {
      background: #1c201a;
      color: #636363;
      padding: 15px 15px 0;
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: inset 0 0 5px rgba(84, 160, 255, 0.5),
        inset -0 -0 3px rgba(123, 237, 159, 0.15);
    }
  }
}
