/* Main-col */

#main{ 
  background-color: #000B18; 
  article#main-col {
    float:left;
    width:65%;
    @media only screen and (max-width: 768px) {
      float: none;
      width: 100%;
    } 
  }
  
  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    .dark{
      padding-bottom: 40px;
      @media only screen and (max-width: 1265px) {
        padding-bottom: 0.03em;
      }   
      @media only screen and (max-width: 768px) {
        padding-bottom: 5px;
      }   
    }
    @media only screen and (max-width: 768px) {
      float: none;
      width: 100%;
    } 
  
  } 

}   