body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow-x: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4b2c99;
    z-index: -1;
  }

  #showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    height: auto;
    width: 100vw;
    video {
      width: 550px;
      height: auto;
    }
    .overlay {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100vw;
      height: 310px;
      background-color: #001524;
      opacity: 0.5;
    }

    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100vw;
      z-index: 1;
      opacity: 0.7;

      h1 {
        padding-right: 60px;
        margin-top: 20px;
        font-size: 4em;
        color: $color1;
        font-family: $font2;
        text-shadow: 3px 2px 0px rgba(255, 255, 255, 0.45),
          9px 8px 0px rgba(0, 0, 0, 0.15);
      }

      p {
        margin: 0;
        padding-top: 100px;
        font-size: 2rem;
        font-family: $font2;
        @media (max-width: 500px) {
          padding-top: 65px;
        }
      }
    }
  }

  #newsletter {
    background-color: black;
    color: #ffffff;
    opacity: 0.7;

    h1 {
      float: left;
      margin: 4px 0 0 0;
      font-size: 1.4em;
      font-weight: normal;
    }

    form {
      float: right;
      margin: 3px;
      input {
        border: 0px;
        border-radius: 5px;
        padding: 3px;
        height: 25px;
        width: 250px;
      }

      .button_1 {
        border-radius: 5px;
        margin-left: 10px;
      }
    }
  }

  #boxes {
    background-color: #000b18;
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
      }
      /*display:flex;
    justify-content: space-between; */
      .box {
        //flex: 1;
        text-align: center;
        /*float:left;
      width:20%;
      height: 380px;*/
        margin: 0px 5px 10px;
        background-color: $color10;
        color: #636363;
        border-radius: 10px;
        p {
          text-align: left;
          margin: 0.5rem 0.75rem;
        }
      }

      .box img {
        width: 90px;
        margin-top: 1rem;
        transition: transform 1.8s ease-in-out;
      }
      .box img:hover {
        transform: rotateY(360deg);
      }
    }
  }
}
