body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow-x: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4b2c99;
    z-index: -1;
  }

  #showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    height: auto;
    width: 100vw;
    @media (max-width: 500px) {
      overflow: hidden;
    }
    video {
      width: 550px;
      height: auto;
    }
    .overlay {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100vw;
      height: 310px;
      @media (min-width: 500px) and(max-width:768px) {
        height: 275px;
      }
      background-color: #001524;
      opacity: 0.5;
    }

    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100vw;
      z-index: 1;
      opacity: 0.7;

      h1 {
        padding-right: 50px;
        margin-top: 20px;
        @media (max-width: 768px) {
          font-size: 3rem;
          margin-top: 15px;
        }
        font-size: 4em;
        opacity: 0;
        // color: #c2c2c2;
        font-family: $font2;
        text-shadow: 3px 2px 0px rgba(32, 101, 197, 0.7),
          9px 8px 0px rgba(0, 0, 0, 0.35);
        animation: appear 0.8s linear forwards 0.5s 1,
          swing 6s ease-in-out 0.5s infinite alternate,
          roll 5s linear 0.5s infinite;
        // background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/439415/146x263.png");
        background-image: url(https://i.postimg.cc/xjm6vPNd/bg.png);
        color: transparent;
        -webkit-background-clip: text;
        -o-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        @keyframes appear {
          from {
            opacity: 0;
            transform: scale 0.1;
          }
          to {
            opacity: 1;
            transform: scale 1;
          }
        }

        @keyframes roll {
          0% {
            background-position: right 0 top 0;
          }
          100% {
            background-position: right 0 top -146px;
          }
        }
        @keyframes swing {
          // from {
          //   transform: translateX(20px) scale(1) skewX(35deg) rotateX(-35deg);
          // }
          // to {
          //   transform: translateX(-5px) scale(1.03, 1.07) rotateX(35deg);
          // }
          0% {
            transform-origin: top;
            transform: perspective(550px) rotateX(-55deg);
          }

          50% {
            transform: perspective(550px) rotateX(55deg);
          }

          100% {
            transform-origin: top;
            transform: perspective(550px) rotateX(-55deg);
          }
        }
      }

      p {
        margin: 0;
        padding-top: 100px;
        font-size: 2rem;
        font-weight: bold;
        font-family: $font2;
        color: #ccc;
        // background-image: linear-gradient(92deg, #5352ed, #eccc68);
        // background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
        background-image: linear-gradient(
          45deg,
          #4169e1,
          #44107a,
          #ff1361,
          #cd5c5c,
          #fff800
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: hue 15s infinite linear;
        animation-delay: 2s;
        @media (max-width: 600px) {
          padding-top: 70px;
        }
      }
      @keyframes hue {
        from {
          filter: hue-rotate(0deg);
        }
        to {
          filter: hue-rotate(-360deg);
        }
      }
    }
  }

  #newsletter {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: black;
      .wave {
        span {
          margin: 0;
          padding: 0;
          color: #2ea1ff;
          font-size: 1.3rem;
          @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            width: 100%;
          }

          text-shadow: 2px 1px 2px #002a9c;
          position: relative;
          display: table-cell;
          animation: animate 3s ease-in-out infinite;
          // animation-delay: calc(0.1s * var(--i));
          @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.1s;
            }
          }
        }

        @media (max-width: 500px) {
          #mobile {
            display: none;
          }
        }
      }
      @keyframes animate {
        0%,
        40%,
        100% {
          transform: translate(0) scale(1);
        }
        20% {
          transform: translate3d(5px, -5px, 0px) scale(1.2, 1.5);
        }
      }

      form {
        background: $newsletter;
        margin: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        border-radius: 5px;

        input {
          background-color: $newsletter;
          border: 0;
          outline: 0;
          color: #2ea1ff;
          border-radius: 5px;
          padding: 3px 3px 3px 10px;
          margin-left: 5px;
          height: 25px;
          width: 240px;
          letter-spacing: 1px;
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.05),
            inset 5px 5px 5px rgba(0, 0, 0, 0.65);
          // &:hover {
          //   box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.05),
          //     inset 5px 5px 5px rgba(0, 0, 0, 0.65);
          // }
          &::placeholder {
            color: #2ea1ff;
          }
        }

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 2px;
          cursor: pointer;
          font-size: 1rem;
          width: 95px;
          outline: none;
          border: none;
          padding: 0.525rem 1.5rem;
          margin: 5px 5px 5px 10px;
          border-radius: 5px;
          background: $newsletter;
          color: #2ea1ff;
          text-shadow: 1px 1px 1px #002a9c;
          box-shadow: -5px -3px 5px rgba(255, 255, 255, 0.05),
            5px 5px 5px rgba(0, 0, 0, 0.65);
          &:hover {
            box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.05),
              2px 2px 2px rgba(0, 0, 0, 0.65);
            color: #006c9c;
            text-shadow: 0 0 5px #002a9c;
          }
          &:focus {
            box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.05),
              inset 2px 2px 2px rgba(0, 0, 0, 0.65);
            color: $color11;
          }
        }
      }
    }
  }

  #boxes {
    background-color: #000b18;
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      /* SIBLING FADE: fade out siblings around a hovered item 
       Prevents :hover from triggering in the gaps between items. For more info: https://codepen.io/shshaw/pen/wWQZEB  or https://gist.github.com/alimadhibujar/b818d22fe6dcb48d4d5b622a5b5b4f95*/
      visibility: hidden;
      // grid-column-gap: 0.75rem;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        text-align: center;
        margin: 0 6px 10px 6px;
        @media (max-width: 768px) {
          margin: 0 5px 10px;
        }
        background-color: $color10;
        color: #636363;
        border-radius: 10px;
        box-shadow: 0 0 2px rgba(84, 160, 255, 0.5),
          inset 0 0 3px rgba(123, 237, 159, 0.15);
        transition: all 0.75s ease, transform 0.75s ease, margin-top 0.75s;
        /* Fade in the currently hovered item */
        &:hover {
          opacity: 1;
          box-shadow: 0 8px 40px rgba(84, 160, 255, 0.5); /*rgba(#fff, .15)*/
          transform: scale(1.05);
          margin-top: 10px;

          img {
            margin-top: 6px;
            animation: tilt 2s ease-in-out infinite;
          }

          @keyframes tilt {
            0% {
              transform: perspective(300px) rotateY(30deg);
            }
            50% {
              transform: perspective(300px) rotateY(-30deg);
            }
            100% {
              transform: perspective(300px) rotateY(30deg);
            }
          }
        }

        p {
          text-align: left;
          margin: 0.5rem 0.75rem;
        }
      }

      img {
        width: 90px;
        margin-top: 1rem;
        transition: margin-top 0.75s, transform 1.8s ease-in-out;
      }
    }
    /* Brings the child items back in, even though the parent is `hidden` */
    .container > * {
      visibility: visible;
      transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
    }
    /* Fade out all items when the parent is hovered 
    For mor info https://codepen.io/shshaw/pen/wWQZEB*/
    .container:hover > * {
      opacity: 0.6;
      transform: scale(0.98);
    }
  }
}
