body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: black;
  overflow-x: hidden;
  
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#14073A;
    z-index: -1;
  }
  
  #showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:#ffffff;
    position:relative;
    max-height:320px;
    width:100vw;
   
    video{
    width: 550px;
    height: auto;
    @media only screen and (max-width: 768px) {
      width: 480px;
      } 
    }

    
      .overlay{
      @include overlayContent;
      height: 320px;
      background-color:#001524;
      opacity:0.5;
      }
      
      .content{
      @include overlayContent;
      height:auto;
      z-index:1;
      opacity: 0.7;
  
    
    
      h1{
      padding-right: 60px;
      margin-top: 20px;
      font-size:4rem;
      color: $color1;
      font-family: $font2;
      text-shadow: 3px 2px 0px rgba(255,255,255,0.45), 9px 8px 0px rgba(0,0,0,0.15);
      @media only screen and (max-width: 768px) {
        font-size:3rem;
        margin-top: 20px;
        }
      }
  
      p{
      margin:0;
      padding-top:100px;  
      font-size:1.9rem;
      font-family: $font2;
      @media only screen and (max-width: 768px) {
        font-size:1.7rem;
        }
      @media only screen and (max-width: 636px) {
        font-size:1.4rem;
        }           
      }
    }
    
  }
  
  
    #newsletter{
    color:#ffffff;
    opacity: 0.7;
    
    h1{
    float:left;
    margin: 8px 0 6px;
    font-size: 1.4em;
    font-weight: normal;
    background-color: black;
    opacity: 0.9;        
    }
    
    form{
      float:right;
      padding-top: 9px;
      input{
      border: 0px;
      border-radius:5px;
      padding:4px;
      height:25px;
      width:250px;
      @media only screen and (max-width: 768px) {
        height: 32px;
        margin:0 0 7px;
        padding: 0px;
        }
      }
  
      .button_1{
      border-radius: 5px;
      margin-left: 10px;
      @media only screen and (max-width: 768px) {
        margin: 0 0 6px;
        }
      }
    @media only screen and (max-width: 768px) {
      padding-top: 0px;
      }
    }
  }
  
  #boxes{  
    background-color:#000B18;
      
    .box{
      @include box;
      margin:0px  2.45% 10px 0;
      }
    
    .box-1{
      @include box; 
      margin: 0px  2.45% 10px;
      }

    .box-2{
      @include box;
      margin:0px  2.45% 10px;
      }
            
    .box-3{
      @include box;
      margin:0px 0 10px 2.45%;
      }
    
  }
 
}