$color1: #f4f4f4;
$color2: #35424a;
$color3: #ffffff;
$color4: #e8491d;
$color5: #cccccc;
$color6: #e6e6e6;
$color7: #001524;
$color8: black;
$color9: #5b3f07;
$color10: #1c201a;
$color11: #b61562;
$newsletter: #131419;
