/* Global */

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:32px;
  background:#e8491d;
  border:0;
  padding-left: 10px;
  padding-right:10px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#1C201A;
  color:#35424a;
  margin-top:0px;
  margin-bottom:10px;
}