.modal {
  // display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  background-color: rgba(3, 12, 22, 0.35);
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transform: translateX(-1500px);
}

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1650px) skewX(20deg) scaleX(1.3);
  }
}

.modal .wrapper {
  width: 100%;
  #register {
    .wrapper-content {
      color: #2ea1ff;
      text-shadow: 1px 1px 1px #002a9c, 1px 1px 1px #cccccc;

      .form {
        color: #2ea1ff;
        text-shadow: 1px 1px 1px #002a9c, 1px 1px 1px #cccccc;
        .btn {
          width: 50%;
          border: 0;
          border-radius: 20px;
          height: 30px;
          padding-left: 5px;
          text-align: center;
          background-color: #1a1c1d;
          color: #2ea1ff;
          text-shadow: 1px 1px 1px #002a9c;
          font-size: 1rem;
          box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.1),
            3px 3px 2px rgba(0, 0, 0, 0.65);
          &:hover {
            box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1),
              2px 2px 2px rgba(0, 0, 0, 0.65);
          }
          &:active {
            color: blue;
            box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.1),
              inset 1px 1px 1px rgba(0, 0, 0, 0.65);
          }
        }

        .form-group {
          margin-bottom: 20px;
          input {
            width: 90%;
            border: 0;
            border-radius: 20px;
            height: 35px;
            margin: 0;
            padding: 0 3px 0 15px;
            text-align: left;
            background-color: #1a1c1d;
            color: #2ea1ff;
            text-shadow: 1px 1px 1px #002a9c;
            font-size: 1rem;
            transition: all 0.75s linear;
            &::placeholder {
              font-size: 12px;
              transition: all 0.75s linear;
            }
            &:focus {
              background-color: #111;
              &::placeholder {
                transform: translateX(70%);
              }
            }
          }
          .form-text {
            padding-left: 10px;
            width: 90%;
          }
        }
      }
    }
  }
}

.modal .wrapper-content {
  position: relative;
  width: 25%;
  @media (max-width: 1200px) and (min-width: 769px) {
    width: 35%;
  }
  @media (max-width: 768px) and (min-width: 500px) {
    width: 45%;
  }
  @media (max-width: 500px) {
    width: 80%;
  }
  margin: 170px auto;
  background: #35394a;
  border-radius: 10px;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  padding: 20px 30px;
  box-shadow: -1px 6px 27px 5px rgba(0, 0, 0, 0.55);
}

.modal .wrapper-content button {
  width: 40%;
  padding: 11px 0 24px;
  outline: initial;
  background-color: rgb(48, 52, 68);
  border-radius: 50px;
  color: #000;
  border: 0px;
  transition: all 0.3s ease-in-out;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.15),
    3px 3px 2px rgba(0, 0, 0, 0.65);
  &:last-of-type {
    margin-left: 10px;
  }
  &:hover {
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1),
      2px 2px 2px rgba(0, 0, 0, 0.65);
  }
  &:active {
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.1),
      inset 1px 1px 1px rgba(0, 0, 0, 0.65);
  }
}
.modal .wrapper-content button.facebook {
  margin-right: 10px;
  color: #c2c2c2;
}

.modal .wrapper-content button i {
  position: absolute;
  font-size: 20px;
}

.modal .or-email {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #2ea1ff;
  text-shadow: 1px 1px 1px #002a9c, 1px 1px 1px #c2c2c2;
  line-height: 5rem;
}
.modal form {
  border: 0;
  display: block;
  width: 100%;
  color: #2ea1ff;
  text-shadow: 1px 1px 1px #002a9c;
}
.modal form i {
  position: relative;
  top: 32px;
  display: flex;
  font-size: 1em;
  color: #2ea1ff;
  text-shadow: 1px 1px 1px #002a9c;
  width: 1em;
}
.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"] {
  margin-left: 15px;
  font-size: 1em;
  letter-spacing: 0.1rem;
  padding: 0 0 0 13px;
  outline: none;
  box-shadow: inset -2px -2px 1px rgba(255, 255, 255, 0.15),
    inset 3px 3px 3px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
}
.modal input[type="text"] {
  margin-bottom: 15px;
}

.modal .user-pasword,
.modal .user-email {
  color: #2ea1ff;
  &::placeholder {
    color: #2ea1ff;
    font-size: 12px;
    transition: all 0.75s linear;
  }
  &:focus {
    &::placeholder {
      transform: translateX(75%);
    }
  }
}

.modal .user-pasword:hover,
.modal .user-email:hover {
  background-color: #272a2c;
}

.modal input {
  border: 0;
  width: 85%;
  height: 45px;
  background-color: transparent;
}

.modal .logout {
  display: inline-block;
  width: 35%;
  text-align: center;
  padding: 2px;
  margin: 60px 0 30px;
  border-radius: 50px;
  border: 0px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.1),
    3px 3px 2px rgba(0, 0, 0, 0.65);
  &:hover {
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1),
      2px 2px 2px rgba(0, 0, 0, 0.65);
  }
  &:active {
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.1),
      inset 1px 1px 1px rgba(0, 0, 0, 0.65);
  }
}

.modal input[type="submit"] {
  height: 30px;
  border-radius: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  color: #2ea1ff;
  text-shadow: 1px 1px 1px #002a9c;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.1rem;
  outline: none;
}

.modal .forgot-pass {
  font-size: 0.9rem;
  padding: 0 30px 0 56px;
  color: #2ea1ff;
}
.modal .my-1 {
  color: #2ea1ff;
  a {
    font-size: 1rem;
    font-weight: 700;
  }
}

.modal .close {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #2ea1ff;
  text-shadow: 1px 1px 1px #002a9c;
  font-size: 25px;
  z-index: 3;
  &:hover {
    color: red;
    cursor: pointer;
  }
}
