.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

.modal .wrapper {
  width: 100%;
  #register{
    .form{
      .btn{
        width: 50%;
        border: 0;
        border-radius: 5px;
        height: 30px;
        padding-left: 5px;
        text-align: center;
        background-color:#1a1c1d;
        color:#fff ;
        font-size: 1rem;
      }
      .btn:hover{
        color: blue;
        background-color:#fff;
      }
      .form-group{
        margin-bottom: 20px;
        input{
        width: 90%;
        border: 0;
        border-radius: 5px;
        height: 30px;
        padding-left: 10px;
        text-align: left;
        background-color:#1a1c1d;
        color: #272A35;
        font-size: 1rem;
        }
        input:hover{
        background-color:#fff;
        }
        .form-text{
          padding-left: 10px;
          width: 90%;
        }
      
      }
    }
    
  }
}

.modal .wrapper-content {
  position: relative;
  width: 25%;
  margin: 170px auto;
  background: #35394a;
  border-radius: 10px;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 20px 30px;
}

.modal .wrapper-content button {
  width: 45%;
  padding: 11px 0 24px;
  outline: initial;
  background-color: black;
  border-radius: 10px;
  color: #fff;
  border: 1px solid rgba(46, 46, 47, 0.72);
}

.modal .wrapper-content .facebook{
  background: #45619D;
}

.modal .wrapper-content button i {
  position: absolute;
  font-size:20px;
}

.modal .wrapper .hed-fb {
  display: inline;
  position: relative;
}

.modal .wrapper h3 {
  padding: 10px 0 0;
  text-align: center;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.modal .or-email {
  text-align: center;
  color: #fff;
  line-height: 5rem;
}

.modal .or-email span {
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: 400;
}

.modal form {
  border: 0;
  display: block;
  width: 100%;
}

.modal input[type="text"], .modal input[type="password"] {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 0 5px;
  outline: none;
}

.modal .user-name, .modal .user-pasword, .modal .user-email {
  border-bottom: 1px solid #4d4d4d;
}

.modal .user-pasword:hover {
  background-color: #272a2c;
  border-radius: 10px;
}

.modal .user-email:hover {
  background-color: #272a2c;
  border-radius: 10px;
}

.modal input {
  border: 0;
  width: 100%;
  height: 65px;
  background-color: transparent;
}

.modal input:focus {
  outline: initial;
}

.modal .logout {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: rgba(39, 42, 44, 0.23);
  padding: 2px;
  margin: 60px 0 10px;
  border-radius: 50px;
  border: 2px solid #1D201A;
  color: #DC6180;
}

.modal input[type="submit"] {
  height: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: .1rem;
}

.modal input[type="submit"]:hover {
  background-color: #1a1c1d;
}

.modal .forgot-pass {
  font-size: .9rem;
  padding: 0 30px 0 56px;
  color: #606479;
}
.modal .my-1 a{
  font-size: 1rem;
  font-weight: 700;
}

.modal .close {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #cccccc;
  font-size: 25px;
  z-index: 3;
}

.modal .close:hover,
.modal .close:focus {
  color:red;
  cursor: pointer;
}