#mobilmenu {
  width: 100%;
  background-color: rgba(23, 23, 50, 0.9);
  position: relative;
  text-align: center;
  display: none;
  z-index: 2;
  a {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0;
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    // transition perdoret per te ndryshuar propertit e hoverit
    transition: background-color 1.5s ease-in-out;
    font-family: "Raleway", sans-serif;
    text-align: left;
    animation: mobilemenu 0.6s ease-in-out forwards;

    @media (min-width: 500px) {
      display: none;
    }
    i {
      font-size: 24px;
      float: right;
      margin-right: 15px;
    }
  }
  a:hover {
    background-color: blue;
  }
  .dropdown {
    display: none;
    a {
      border: 2px solid rgba(23, 23, 50, 0.9);
      border-radius: 5px;
      text-align: center;
      background-color: black;
    }
  }
  @keyframes mobilemenu {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .dropdown a:first-of-type {
    animation: dropdown 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  .dropdown a:nth-of-type(2) {
    animation: dropdown 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  .dropdown a:nth-of-type(3) {
    animation: dropdown 0.3s ease-in-out forwards;
    animation-delay: 0.9s;
  }
  .dropdown a:nth-of-type(4) {
    animation: dropdown 0.3s ease-in-out forwards;
    animation-delay: 1.2s;
  }

  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateX(50px) rotate(-90deg);
    }
    100% {
      opacity: 1;
      transform: translateX(0) rotate(0);
    }
  }
}
