.register{
  position:relative;
  width: 387.6px;
  height: 501.8px;
  background-color:#272A35;
  margin:0px auto;
  border-radius: 10px;
  z-index:3;
  
  .form{
    .btn{
      border: 0;
      border-radius: 5px;
      height: 30px;
      padding-left: 5px;
      text-align: left;
      background-color:#1a1c1d;
      color:#272A35 ;
      font-size: 1rem;
    }
    .btn:hover{
      background-color:#fff;
    }
    .form-group{
      margin-bottom: 35px;
      input{
      border: 0;
      border-radius: 5px;
      height: 30px;
      padding-left: 5px;
      text-align: left;
      background-color:#1a1c1d;
      color: #272A35;
      font-size: 1rem;
      }
      input:hover{
      background-color:#fff;
      }
    
    }
  }
  
}